<h2>Edit boat</h2>
<div>
	<%= form_for @boat do |f| %>
		
		<%= f.label :name, value: "Name: " %>
		<%= f.text_field :name %><br>

		<%= f.label :capacity, value: "Container Capacity: " %>
		<%= f.text_field :capacity %><br>

		<%= f.label :location, value: "Location: " %><br>

		<% cities = ["Houston", "New York", "Singapore", "Rotterdam", "Hamburg", "Rio de Janeiro", "Lagos", "Shanghai", "Tokyo", "London"] %>

		<%= f.select(:location, options_for_select(cities)) %>
		<br>

		<%= f.submit "Save Changes" %>

	<% end %>
</div>

<p>
	<%= link_to "Delete Boat", @boat, method: :delete, data: { confirm: "Are you sure?" } %>
</p>
