<h2>Add a new boat</h2>

<div>
	<%= form_for @boat do |f| %>

		<% if @boat.errors.any? %>
			<ul>
		      <% @boat.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
		<% end %>

		<%= f.hidden_field :user_id%>
		
		<%= f.label :name, value: "Name: " %>
		<%= f.text_field :name %><br>

		<%= f.label :capacity, value: "Container Capacity: " %>
		<%= f.text_field :capacity %><br>

		<%= f.label :location, value: "Location: " %><br>

		<% cities = ["Houston", "New York", "Singapore", "Rotterdam", "Hamburg", "Rio de Janeiro", "Lagos", "Shanghai", "Tokyo", "London"] %>

		<%= f.select(:location, options_for_select(cities)) %>
		<br>

	    <%= f.label :avatar %><br />
	    <%= f.file_field :avatar %>

		<%= f.submit "Add Boat" %>

	<% end %>
</div>